<section id="name" class="cta">
    <div class="cta-content">
        <div class="container" style="margin-top:-175px; color:#ffffff">           
                <h1 class="section-heading text-center">Who We Are</h1>
        
                <div class="text-center">
                    <h1 class="section-heading" style="font-family: Raleway"> Wittaya (Thai) or Vidya (Sanskrit) means 'knowledge' or 'science'. Our platform brings a science–based approach to production and feeding management in aquaculture.
                    </h1>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
