<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div>
                        <div>
                            
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                                <img src="/img/wittaya_logo_3.png" class="img-responsive" alt="">
                                <img src="/img/fish.png" class="img-responsive" alt="">
                            
                            <div class="button">
                                 You can hook the "home button" to some JavaScript events or just remove it
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</header>
