<section id="product" class="download bg-primary text-center">
    <div class="container">
           
                <h2 class="section-heading">The Wittaya Aqua Platform</h2>
                <h3>Wittaya Aqua is a production management platform that increases operational efficiency through aggregation and analysis of the huge volume of data already collected by aquaculture operations. The platform is powered by advanced mathematical and nutritional models and creates value by optimizing feeding practices, reducing uncertainty in forecasting production, and tracking commercially important benchmarks. </h3>
                <!--<div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>-->
            
    </div>
</section>
