
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>The Wittaya Aqua Platform</h2>
                        <p class="text-muted">The platform is easy to use, comprehensive and adaptable to a wide variety of aquaculture species</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    
                                    <i class="icon-speedometer text-primary"></i>

                                    <h3>Versatility</h3>
                                    <p class="text-muted">The platform is easy to use, comprehensive and adaptable to a wide variety of aquaculture species; trout, tilapia, shrimp, crab, you name it</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-graph text-primary"></i>
                                    <h3>Improved Production </h3>
                                    <p class="text-muted">Objective, robust and credible computation of performance metrics</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-fire text-primary"></i>
                                    <h3>Robust</h3>
                                    <p class="text-muted">Dynamic and insightful simulation of animal inventory</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-target text-primary"></i>
                                    <h3>Superior Forecasting</h3>
                                    <p class="text-muted">Superior harvest forecasting, including weight distribution</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                  <h3>Our unique approach contrasts different estimates computed by the aquaculture operation with Wittaya’s own robust algorithms</h3>
                  <a target="_blank" href="https://m.do.co/c/a29d90274371" style="color:black" class="btn btn-outline btn-xl">Link to E-Mail</a>  
                </div>

            </div>
    </section>
