<section id="team" class="download bg-primary">    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Team</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center"">
                <div>
                    <a href="https://www.linkedin.com/in/evanwilliamhall/" class="portfolio-box">
                    <img src="/img/portfolio/evan_hall.jpg" style = "width: 200px;" alt="">
                    <h3 style = "color:#ffffff;">Evan Hall, BScH, MBA</h3>
                    <p style = "color:#ffffff;">Co-Founder</p>
                    <p style="color:#ffffff;"><i class="fa fa-linkedin-square" style="font-size:36px"></i></p></a>
                </div>
        

            </div>
            <div class="col-lg-6 col-md-6 text-center">
                    <div>
                        <a href="https://www.linkedin.com/in/dominique-bureau-94339113/" class="portfolio-box">
                        <img src="/img/portfolio/dominique_bureau.jpg" style = "width:200px;" alt="">
                        <h3 style="color:#ffffff;">Dominique Bureau, PhD</h3>
                        <p style="color:#ffffff;">Co-Founder</p>
                        <p style="color:#ffffff;"><i class="fa fa-linkedin-square" style="font-size:36px"></i></p></a>
                    </div>
            </div>
   
        </div>
</div>
</section>

