<section id="team" class="download bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Team</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>


    <div class="container" style="margin-left: 23%">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div>
                    <a href="https://www.linkedin.com/in/evanwilliamhall/" class="portfolio-box">
                    <img src="/img/portfolio/evan_hall.jpg" class="img-responsive wow bounceIn text-primary" data-wow-delay=".2s"" style = "width: 200px; margin-left: 10% " alt="">
                    <h3 style = "margin-left: 10%">Evan Hall</h3>
                    <p style = "margin-left: 10%"class="text-muted">Co-Founder</p>
                    <p style="color:#ffffff; margin-top: 15% margin-left: 10%">4+ years managing fisheries programs and marketing a $60million annual portfolio of fish and wildlife products with the Ontario Government, has a BScH in Environmental Science and an MBA from Queen’s University</p>
                </div>
            
        </div>
            <div class="col-lg-4 col-md-6">
                <div>
                    <a href="https://www.linkedin.com/in/dominique-bureau-94339113/" class="portfolio-box">
                    <img src="/img/portfolio/dominique_bureau.jpg" style = "width:200px" alt="">
                    <h3>Dominique Bureau</h3>
                    <p class="text-muted">Co-Founder</p>
                    <p style="color:#ffffff; margin-top: 30px">30 years of experience in animal production and aquaculture with a Bachelor’s degree in agronomy, a Master’s degree in Animal Science and a Doctoral degree in Nutritional Sciences. World leading expert on nutrition of aquaculture species, mathematical nutritional modeling applied to aquaculture species and on the development of tools and resources for aquaculture producers and feed manufacturers. Member of the high profile US National Research Council Committee on Nutrient Requirements of Fish and Shrimp (2009-2011).</p>
                </div>
            </div>
       
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div>
                    <a href="https://www.linkedin.com/in/duncan-gillis-47589862/" class="portfolio-box">
                    <img src="/img/portfolio/duncan_gillis.jpg" class="img-responsive" style = "width:200px" alt="">
                    <h3>Duncan Gillis</h3>
                    <p class="text-muted">Co-Founder</p>
                    <p style="color:#ffffff; margin-top: 30px">10+ years of development with software development in Data/Analytics tech companies in the gaming industry and has a Bachelor’s Degree in Computer Science and Finance.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
            </div>
        </div>
        </div>
</div>
</section>

