<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <h1>Our Testimonials</h1>
                <h2 class="section-heading">Jenny B. & Elly K.<br>
                Toba Tilapia, Sumatera, Indonesia</h2>
                <p>"We have relied on the models developed by Dr. Bureau and his colleagues to audit past production performance and forecast growth of Nile tilapia at Toba Tilapia. These models proved very valuable and really helped improve production and feeding management." </p>
                <!--<div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>-->
            </div>
        </div>
    </div>
</section>
