<section id="testimonials" class="testimonial">
    <div class="cta-content">
        <div class="container" style="color:#ffffff;">           
                <h1 class="text-center" style="font-size: xx-large;">What People Are Telling About Us</h1>
        </div>
    </div>
</section>
<section class="text-center">   
                <h1>Jenny B. & Elly K.<br>
                Toba Tilapia, Sumatera, Indonesia</h1>
                <p style="color:#000">"We have relied on the models developed by Dr. Bureau and his colleagues to audit past production performance and forecast growth of Nile tilapia at Toba Tilapia. These models proved very valuable and really helped improve production and feeding management." </p>
                <!--<div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>-->
            
</section>
    
